#content {
    #page-builder-container {
        .two-column-content-block {
            > div {
                display: flex;
                gap: 100px; 
                @include align-center; 
                > div {
                    width: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #content {
        #page-builder-container {
            .two-column-content-block {
                > div {
                    flex-direction: column;
                    gap: $content-element-bottom-spacing; 
                    > div {
                        width: 100%;
                    }
                }
            }
        }
    }
}