// Accordion
#content {
    .accordions-block {
        .main-title {
            margin-bottom: 70px;
        }
    
        .accordion-item-container {
            @include transition;
            border-bottom: 1px solid rgba(red, 0.4);
            p.subheading {
                margin-bottom: 0; 
            }
    
            &.opened-accordion {
                //.opened-accordion added to accordion containers that are open
                .title-container {
                    .title {
                        @include transition;
                    }
    
                    span {
                        &.icon-accordion-close::before {
                            @include transition;
                            opacity: 1;
                        }
                        &.icon-accordion-open::before {
                            @include transition;
                            opacity: 0;
                        }
                    }
                }
            }  
    
            .title-container {
                width: 100%;
                border: none;
                color: red; 
                background-color: transparent;
                padding: 25px 0;
                padding-right: 60px; 
                display: flex;
                gap: 20px;
                justify-content: space-between;
                position: relative; 
                @include align-center;
    
                .title {
                    @include transition;
                    text-align: left;
                }
    
                span {
                    position: absolute;
                    color: red; 
                    width: 32px; 
                    font-size: 32px;
                    height: 32px; 
                    right: 0; 
                    top: 50%; 
                    transform: translateY(-50%);
                    display: inline-block;
    
                    &:hover {
                        cursor: pointer;
                    }
    
                    &.icon-accordion-close::before {
                        @include transition;
                        opacity: 0;
                    }
                    &.icon-accordion-open::before {
                        @include transition;
                        opacity: 1; 
                    }
                }
            }
    
            .content {
                padding: 0 0 24px 0px;
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #content {
        .accordions-block {
            .main-title {
                margin-bottom: 31px;
            }

            .accordion-item-container {
                .content {
                    padding: 0 0 20px 0;
                }
            }
        }
    }
}