//  ##
//  # Includes styles for all posts and cpts. Including the archive for the post
//  # and the single page for the post.
//
//  SECTIONS
//     > Sermon Archive
//     > Sermon Single
//     > News Archive
//     > News Single
//     > Connect Archive
//     > Connect Single
//

//#
//  Sermon Archive
//#
#pagination {
    text-align: center;
    display: flex;
    @include align-center;
    justify-content: center;
    gap: 20px;

    .page-numbers {
        text-decoration: none;
        font-weight: bold;
        font-family: $secondary-font;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;

        &:visited,
        &:link,
        &.dots {
            color: red;
        }

        &:active,
        &:hover,
        &.current {
            color: blue;
        }
    }

    .prev,
    .next {
        position: relative;
        width: 12px;
        height: 12px;
        top: 1px;

        .icon-arrow::before {
            position: absolute;
        }
    }

    .prev {
        right: 20px;
        top: 0px;
        .icon-arrow::before {
            transform: rotate(180deg);
        }
    }

    .next {
        left: 10px;
    }
}
